asgiref==3.12.1
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
dj-database-url==2.3.0
Django==5.2.16
gunicorn==26.0.0
packaging==26.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
PyMySQL==1.2.0
pypdfium2==5.12.1
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
